# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce basic arithmetic expressions and operations.
- Demonstrate the use of common data science tools and libraries.
- Create and display tables using markdown.
- Share the notebook through GitHub for collaboration.

There are multiple data science languages, but some of the most widely and commonly used are:
*   Python
*   R
*   SQL
*   Java

Some of the most common libraries for data science:
*   NumPy
*   Scickit-learn
*   dplyr
*   Pandas
*   Matplotlib

| Tool           | Purpose                               |
|----------------|---------------------------------------|
| Jupyter        | Interactive computing and analysis   |
| Python         | Programming language for data analysis and machine learning |
| R              | Statistical computing and graphics    |
| Pandas         | Data manipulation and analysis        |
| SQL            | Database querying and management      |
| Tableau        | Data visualization and business intelligence |
| Power BI       | Data analysis and visualization tool  |

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

#Author
Ainy