**Coursera Peer Review Assignement**

Hi there, I am Ainy, an AI graduate with an interest in data. This is my assignment as a mandatory part of the course Tools for Data Science, and I will be completing it according to the provided guidelines to ensure I am doing it the right way.

**Objectives:**

- List popular languages for Data Science.
- Introduce basic arithmetic expressions and operations.
- Demonstrate the use of common data science tools and libraries.
- Create and display tables using markdown.
- Share the notebook through GitHub for collaboration.

There are multiple data science languages, but some of the most widely and commonly used are:
*   Python
*   R
*   SQL
*   Java

Some of the most common libraries for data science:
*   Python (NumPy, Pandas, Matplotlib, Scikit-learn, plotlty, seaborn, keras)
*   R (dplyr, tidyr, caret, ggplot)

| Tool           | Purpose                               |
|----------------|---------------------------------------|
| Jupyter        | Interactive computing and analysis   |
| Python         | Programming language for data analysis and machine learning |
| R              | Statistical computing and graphics    |
| Pandas         | Data manipulation and analysis        |
| SQL            | Database querying and management      |
| Tableau        | Data visualization and business intelligence |
| Power BI       | Data analysis and visualization tool  |

And here is some basic arthimetic functions:

1. **Addition**: Adding two numbers.
   - Example: `5 + 3 = 8`
   
2. **Subtraction**: Subtracting one number from another.
   - Example: `5 - 3 = 2`
   
3. **Multiplication**: Multiplying two numbers.
   - Example: `5 * 3 = 15`
   
4. **Division**: Dividing one number by another.
   - Example: `6 / 3 = 2`

In [1]:
(2*3)+4

10

In [2]:
200/60

3.3333333333333335

## Author
Ainy